body {
    background-color: #6F2838;
    padding: 2vw;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 60%;
}
ul {
    padding: 0;
    list-style-type: none; 
}
nav ul {
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181012;
}
  
nav ul li {
    float: left;
}

a {
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}
  
nav ul li a {
    display: block;
    padding: 1.5vh 1.5vw;
    color: white;
}

nav ul li a:hover {
    background-color: #C7647B;
}
nav ul li a.active {
    background-color: #570b40;
}
h2 {
    font-size: larger;
}