body {
    background-color: #6F2838;
    padding: 2vw;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    margin: 0;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #181012;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 1.5vh 1.5vw;
    text-decoration: none;
    text-align: center;
    color: white;
}

li a:hover {
    background-color: #C7647B;
}
.active {
    background-color: #250e13;
}